<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--	<bean id="service1" class="com.snake.service.Service1">-->

<!--	</bean>-->
	<bean init-method="initXml" destroy-method="destroyXml" id="service2" class="com.snake.service.Service2">

	</bean>
</beans>